@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
scroll-behavior: smooth;
}

ul{
list-style: none;
}

.first{
    padding-top: 20px;
   background: #fff;
display: grid;
grid-auto-flow: column;
grid-template-columns: 2fr 6fr 1fr;
margin-left: 5px;
margin-bottom: 30px;
}
.les{
    word-spacing: 15px;
    padding-top: 11px;
}
.ella{
    word-spacing: 15px;
    padding-top: 11px;
}
.pacis{
    padding-top: 2px;
    word-spacing: 15px;
}
.textt{
    border: 1px solid lightgray;
    border-bottom-left-radius: 5pc;
    border-top-left-radius: 5pc;
    padding-left: 10px;
    font-size: 20px;
    height: 50px;
    width: 29pc;
}
.fa .fa-microphone{
    position: relative;
    top: 2px;
}
.fa.fa-search{
    position: relative;
    top: 7px;
    background-color: rgb(243, 239, 239);
    height:50px ;
    width: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-top-right-radius: 5pc;
    border-bottom-right-radius: 5pc;
    padding-top: 11.5px;
    margin-left: -100px;
    border: 1px solid lightgrey;
}
.nahh::-webkit-scrollbar {
    display: none;
}
.nahh{
    width: calc(100%-240px);
    overflow-x: auto;
    padding-left: 5px;
    border-left: none;
    background-color: white;
    margin-top: 0px;
    margin-left: 270px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #fff;
}
.la{
    background-color: rgba(243, 239, 239, 0.938);
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.pacis, .les, .la{
    cursor: pointer;
}
.la:hover{
    background-color: rgb(211, 211, 211);
}
.two1{
    background: #fff;
    width: 100%;
    height: 130px;
    margin-bottom: 2px;
    /* position: fixed; */
}



.whole::-webkit-scrollbar {
  width: 10px;

}

.whole::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.whole::-webkit-scrollbar-thumb {
  background: #888;
 border-radius: 25px;
}

.whole::-webkit-scrollbar-thumb:hover {
  background: #6a6565;
}
.whole{
    padding-right: 5px;
    margin-top:5px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    width:240px;
    overflow-y: auto;
    height: calc(100vh);
    margin-left: 20px; 
    /* position: fixed; */
}
.lower::-webkit-scrollbar {
    display: none;
}

.lower{
    height: calc(100vh);
    overflow-y: scroll;
    border: 1px solid lightgray;
    border-right: none;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
} 
.bigger{
    width: 295px;
    height: 160px;
    border-radius: 10px;
}
.pc{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
span{
    display: block;
    font-size: small;
}
.under{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.tym{
    color: aliceblue;
    background-color: black;
    width:50px;
    border-radius: 3px;
    padding: 2px;
    position: relative;
    top: -29px;
    left: 245px;
}
.below{
    display: grid;
    grid-auto-flow: column;

}
body{
    height: 100vh;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    width: 100%;
}
.box:hover{
      transform: scale(1.3);
    z-index: 222;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
     background: #fff;
     border-bottom-left-radius: 13px;
     border-bottom-right-radius: 13px;
     
    }
    .box{
        transition-delay: 1s;
        transition: 1s;
    }
    .hidden-content{
        margin-top: 2px;
        display: none;
    }
.side>nav>ul>li>span{
    position: relative;
    top: -6px;
}
.side>nav>dl>dt>dd>{
    position: relative;
    top: -5px;
}
